body{
    padding: 0px;
    margin: 0px;
    background-color: black;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .sticky-top {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        z-index: 1020;
    }
}

.housing{
    height: auto;
}

.home_con{
    width: 100%;
    height: 100vh;
    background-color: #0c1427;
}
.home_cont_con{
    height: auto;
    padding: 20px 0px 30px;
    background-color: #172340;
}
.home_header{
    color: white;
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    font-family: overpass;
}
.home_cont_head{
    color: white;
    text-align: center;
    font-size: 25px;
    font-weight: 500;
    font-family: overpass;
    margin-bottom: 5px;
}
.home_cont_text{
    color: yellow;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    font-family: overpass;
}
.home_cont_head_col{
    color: yellow;
    font-weight: 700;
}
.home_box{
    width: 100%;
    color: black;
    font-size: 14px;
    font-weight: 500;
    font-family: overpass;
    padding: 5px 10px;
}
.home_btn{
    width: 100%;
    height: auto;
    color: white;
    font-size: 14px;
    font-weight: 500;
    font-family: overpass;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    background-color: #007bff;
}




.nav_con{
    width: 300px;
    height: 100vh;
    display: none;
    border: 1px solid #0c1427;
    border-top: none;
    border-left: none;
    z-index: 1000000;
    background-color: #172340;
    box-sizing: border-box;
}
.nav_logo_con{
    height: 50px;
    padding: 10px 0px;
    background-color: #172340;
}
.nav_logo{
    color: white;
    font-size: 25px;
    font-weight: 500;
    font-family: overpass;
    margin: 0px;
}
.nav_bar{
    color: white;
    font-size: 15px;
    padding: 5px 8px;
    background-color: #0c1427;
}
.nav_user_con{
    width: 100%;
    height: auto;
    padding: 10px 15px;
    background-color: #0c1427;
}
.nav_user_img{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    padding: 3px;
    background-color: yellow;
}
.nav_user_name{
    color: white;
    text-transform: capitalize;
    font-size: 17px;
    font-weight: 500;
    font-family: overpass;
    margin-bottom: 5px;
}
.nav_user_role{
    color: yellow;
    text-transform: capitalize;
    font-size: 15px;
    font-weight: 500;
    font-family: overpass;
    margin-bottom: 0px;
}
.nav_link_con{
    border-bottom: 1px solid #1e2d53;
}
.nav_link{
    color: white;
    font-size: 15px;
    font-weight: 500;
    font-family: overpass;
    margin: 0px;
    padding: 10px 15px;
}
.nav_link_icon{
    font-size: 20px;
}
.nav_drop_con{
    display: none;
    background-color: #0c1427;
}
.nav_drop_link{
    color: white;
    font-size: 13px;
    font-weight: 500;
    font-family: overpass;
    margin: 0px;
    padding: 10px 15px;
}
.logout_btn{
    color: white;
    font-size: 13px;
    font-weight: 500;
    font-family: overpass;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    background-color: #007bff;
    outline: none;
    cursor: pointer;
}
.nav_foot{
    border-top: 1px solid gray;
    padding: 10px 15px;
}
.nav_foot_text{
    color: #dee2e6;
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    font-family: overpass;
    margin-bottom: 0px;
}


.modal_con{
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 1000050;
    background-color: rgba(0, 0, 0, 0.69);
    overflow: auto;
}
.modal_cont{
    height: auto;
    border: 1px solid #dfdfdf;
    border-radius: 3px;
    background-color: white;
}
.alert_msg{
    color: white;
    font-size: 14px;
    font-weight: 500;
    font-family: overpass;
    margin-bottom: 0px;
    padding: 10px 15px;
    background-color: #28a745;
}



.nav_cont{
    width: 100%;
    height: auto;
    background-color: white;
}
.nav_cont_header_con{
    height: 50px;
    padding: 10px 15px;
    border-bottom: 1px solid #0c1427;
    background-color: #172340;
}
.nav_cont_header{
    color: white;
    font-size: 25px;
    font-weight: 500;
    font-family: overpass;
    margin: 0px;
}
.nav_cont_header_icon{
    color: white;
    font-size: 20px;
}
.nav_cont_con{
    width: 100%;
    height: auto;
    padding: 20px 0px;
    background-color: white;
}
.nav_dash_cont{
    height: 150px;
    border-radius: 5px;
    padding: 15px 0px;
    background-color: #172340;
}
.nav_cont_details{
    width: 100%;
    height: auto;
    border-top: 2px dashed #0c1427;
    padding: 10px 0px 0px;
}
.nav_cont_status{
    color: white;
    font-size: 13px;
    font-weight: 500;
    font-family: overpass;
    border: none;
    border-radius: 20px;
    padding: 5px 15px;
    background-color: #28a745;
}
.nav_cont_status_icon{
    color: #28a745;
    font-size: 14px;
    font-weight: 600;
    border-radius: 100%;
    padding: 3px 4px 0px;
    margin: 0;
    background-color: white;
}
.nav_cont_num{
    color: yellow;
    font-size: 16px;
    font-weight: 500;
    font-family: overpass;
    margin-bottom: 0px;
}

.nav_dash_graph{
    height: auto;
    border-radius: 5px;
    background-color: #172340;
}

.c_btn{
    width: auto;
    height: auto;
    color: white;
    font-size: 15px;
    font-weight: 500;
    font-family: overpass;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    background-color: #172340;
    outline: none;
    cursor: pointer;
}
.c_btn2{
    width: auto;
    height: auto;
    color: white;
    font-size: 15px;
    font-weight: 500;
    font-family: overpass;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    background-color: #621ab6;
    outline: none;
    cursor: pointer;
}
.c_btn_icon{
    color: #172340;
    font-size: 18px;
    font-weight: 600;
    border-radius: 100%;
    padding: 4px 5px 0px;
    margin: 0;
    background-color: white;
}
.c_btn_icon2{
    color: #621ab6;
    font-size: 18px;
    font-weight: 600;
    border-radius: 100%;
    padding: 4px 5px 0px;
    margin: 0;
    background-color: white;
}
.bread_link_con{
    border-radius: 5px;
    padding: 15px;
    background-color: whitesmoke;
}
.bread_link{
    color: black;
    font-size: 14px;
    font-weight: 500;
    font-family: overpass;
}

.f_body{
    padding: 15px 0px;
}
.f_footer{
    border-top: 1px solid #dee2e6;
    padding: 15px;
}
.f_head_con{
    border-bottom: 1px solid #dee2e6;
    padding: 10px 15px;
    background-color: white;
}
.f_head{
    color: black;
    font-size: 20px;
    font-weight: 600;
    font-family: overpass;
    margin: 0px;
}
.f_close{
    color: black;
    font-size: 25px;
    cursor: pointer;
}
.f_icon{
    color: #002752;
    font-size: 14px;
    border-radius: 5px 0px 0px 5px;
    padding: 7px 15px;
    background-color: #dee2e6;
}
.f_box{
    width: 100%;
    color: black;
    font-size: 14px;
    font-weight: 400;
    font-family: overpass;
    border: none;
    border-radius: 5px;
    padding: 7px 15px;
    background-color: whitesmoke;
    outline: none;
}
.f_img{
    width: 100px;
    height: 100px;
    border: 2px solid #dee2e6;
    border-radius: 2px;
}
.f_img_text{
    color: #ff1744;
    font-size: 13px;
    font-weight: 400;
    font-family: overpass;
    cursor: pointer;
}
.f_label{
    color: black;
    font-size: 15px;
    font-weight: 500;
    font-family: overpass;
}
.f_sel{
    width: 100%;
    color: black;
    font-size: 14px;
    font-weight: 400;
    font-family: overpass;
    border: none;
    border-radius: 5px;
    padding: 7px 15px;
    background-color: whitesmoke;
    outline: none;
}
.f_area{
    width: 100%;
    height: 100px;
    color: black;
    font-size: 14px;
    font-weight: 400;
    font-family: overpass;
    border: none;
    border-radius: 5px;
    padding: 7px 15px;
    background-color: whitesmoke;
    outline: none;
}
.f_btn{
    color: white;
    font-size: 14px;
    font-weight: 500;
    font-family: overpass;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #002752;
}
.f_btn2{
    color: white;
    font-size: 14px;
    font-weight: 500;
    font-family: overpass;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #dc3545;
}
.m_head{
    color: #002752;
    font-size: 15px;
    font-weight: 600;
    font-family: overpass;
    margin-bottom: 5px;
}
.m_text{
    color: black;
    font-size: 14px;
    font-weight: 400;
    font-family: overpass;
    margin-bottom: 0px;
}


.table_box{
    width: 100%;
    color: black;
    font-size: 14px;
    font-weight: 400;
    font-family: overpass;
    border: none;
    border-radius: 20px;
    padding: 10px 15px;
    background-color: whitesmoke;
    outline: none;
}
.table_sel{
    width: auto;
    color: black;
    font-size: 15px;
    font-weight: 500;
    font-family: overpass;
    border: 1px solid #dee2e6;
    border-radius: 3px;
    padding: 7px 7px;
    background-color: white;
    outline: none;
}
.table_btn{
    color: #002752;
    font-size: 16px;
    border-radius: 3px;
    padding: 10px;
    outline: none;
}
.table_msg{
    font-size: 15px;
    font-weight: 600;
    font-family: overpass;
    margin-bottom: 0px;
}

.t_head_con{
    background-color: whitesmoke;
}
.error{
    color: #ff1744;
    font-size: 13px;
    font-weight: 400;
    font-family: overpass;
}
.t_res{
    color: #ff1744;
    font-size: 15px;
    font-weight: 500;
    font-family: overpass;
}
.t_head{
    color: black;
    font-size: 15px;
    font-weight: 600;
    font-family: overpass;
    background-color: whitesmoke;
}
.t_img{
    width: 60px;
    height: 60px;
    border: 2px solid #dee2e6;
    border-radius: 100%;
}
.t_img2{
    width: 90px;
    height: 90px;
    border: 2px solid #dee2e6;
}
.t_data{
    color: black;
    font-size: 15px;
    font-weight: 400;
    font-family: overpass;
}
.t_data2{
    color: black;
    font-size: 15px;
    font-weight: 600;
    font-family: overpass;
}
.t_status1{
    color: white;
    font-size: 13px;
    font-weight: 500;
    font-family: overpass;
    border-radius: 0px;
    padding: 5px 10px;
    background-color: #28a745;
}
.t_status2{
    color: white;
    font-size: 13px;
    font-weight: 500;
    font-family: overpass;
    border-radius: 0px;
    padding: 5px 10px;
    background-color: #fd7e14;
}
.t_icon{
    color: black;
    font-size: 20px;
    margin: 3px;
    cursor: pointer;
}
.t_icon2{
    color: red;
    font-size: 20px;
    margin: 3px;
    cursor: pointer;
}
.t_btn_del{
    color: white;
    font-size: 15px;
    font-weight: 500;
    font-family: overpass;
    border: none;
    border-radius: 5px;
    padding: 8px 20px;
    background-color: #e52208;
    cursor: pointer;
}
.t_btn_pen{
    color: white;
    font-size: 15px;
    font-weight: 500;
    font-family: overpass;
    border: none;
    border-radius: 5px;
    padding: 8px 20px;
    background-color: #fd7e14;
    cursor: pointer;
}
.t_btn_app{
    color: white;
    font-size: 15px;
    font-weight: 500;
    font-family: overpass;
    border: none;
    border-radius: 5px;
    padding: 8px 20px;
    background-color: #28a745;
    cursor: pointer;
}
.pagi_con{
    height: auto;
}
.pagi_text{
    color: black;
    font-size: 15px;
    font-weight: 500;
    font-family: overpass;
    margin-bottom: 0px;
}
.pagi_item{
    color: white;
    font-size: 15px;
    font-weight: 500;
    font-family: overpass;
    border: 2px solid #002752;
    border-radius: 2px;
    padding: 6px 10px 2px;
    margin-bottom: 0px;
    background-color: #002752;
    cursor: pointer;
}
.pagi_item_dots{
    color: #002752;
    font-size: 15px;
    font-weight: 600;
    font-family: overpass;
    margin-bottom: 0px;
 }
.pagi_item_active{
    color: #002752;
    font-weight: 500;
    font-family: overpass;
    border: 2px solid #002752;
    border-radius: 2px;
    padding: 6px 10px 2px;
    margin: 0px 3px 0px;
    background-color: white;
}


.pos_con{
    width: 350px;
    height: 100vh;
    display: none;
    border: 1px solid #0c1427;
    border-top: none;
    border-left: none;
    z-index: 1000000;
    background-color: whitesmoke;
    box-sizing: border-box;
}
.pos_cont_con{
    width: 100%;
    height: 100%;
    padding: 15px 0px;
    overflow-y: auto;
    background-color: #0c1427;
}
.pos_cont{
    width: 100%;
    height: auto;
    padding: 10px 15px;
    background-color: #002752;
}
.pos_img_con{
    height: auto;
}
.pos_img{
    width: 100%;
    height: 100px;
}
.pos_details{
    height: auto;
}
.pos_text{
    color: white;
    font-size: 17px;
    font-weight: 500;
    font-family: overpass;
    margin-bottom: 7px;
}
.pos_box{
    width: 90px;
}

.pos_check{
    width: 100%;
    height: auto;
    padding: 15px;
    background-color: #002752;
}
.pos_head{
    color: white;
    font-size: 15px;
    font-weight: 500;
    font-family: overpass;
    margin-bottom: 0px;
}
.pos_icon{
    color: #ff1744;
    font-size: 17px;
    cursor: pointer;
}
.pos_check_btn{
    width: 100%;
    color: white;
    font-size: 20px;
    font-weight: 500;
    font-family: overpass;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #28a745;
    outline: none;
}


.pos_sea_con{
    height: auto;
    padding: 20px;
}
.pos_sea{
    width: 100%;
    color: black;
    font-size: 18px;
    font-weight: 500;
    font-family: overpass;
    border: none;
    border-radius: 30px 0px 0px 30px;
    padding: 8px 0px 8px 25px;
    background-color: whitesmoke;
    outline: none;
}
.pos_sea_btn{
    color: black;
    font-size: 20px;
    font-weight: 500;
    font-family: overpass;
    border: none;
    border-radius: 0px 30px 30px 0px;
    padding: 8px 25px 8px 25px;
    cursor: pointer;
    background-color: whitesmoke;
    outline: none;
}

.pos_sel_cont{
    height: auto;
    border-radius: 5px;
    overflow: hidden;
    background-color: whitesmoke;
}
.pos_sel_img_con{
    height: auto;
}
.pos_sel_img{
    width: 100%;
    height: 80px;
}
.pos_sel_details{
    height: auto;
    padding: 10px 15px;
}
.pos_sel_text{
    color: black;
    font-size: 15px;
    font-weight: 500;
    font-family: overpass;
    margin-bottom: 10px;
}
.pos_sel_head{
    color: black;
    font-size: 15px;
    font-weight: 600;
    font-family: overpass;
    margin-bottom: 0px;
}
.pos_sel_btn{
    color: white;
    font-size: 13px;
    font-weight: 600;
    font-family: overpass;
    border: none;
    border-radius: 15px;
    padding: 5px 20px;
    cursor: pointer;
    background-color: #007bff;
    outline: none;
}

.ar_con{
    width: auto;
    height: auto;
}
.ar_btn{
    color: white;
    font-size: 10px;
    border: 1px solid white;
    border-radius: 100%;
    padding: 5px;
    cursor: pointer;
}
.ar_num{
    color: yellow;
    font-size: 15px;
    font-weight: 500;
    font-family: overpass;
    padding: 5px 10px;
}


.order_text{
    color: black;
    font-size: 15px;
    font-weight: 400;
    font-family: overpass;
    margin-bottom: 0px;
}
.order_text1{
    color: #002752;
    font-size: 17px;
    font-weight: 700;
    font-family: overpass;
    margin-bottom: 0px;
}
.order_price{
    color: black;
    font-size: 15px;
    font-weight: 600;
    font-family: overpass;
    margin-bottom: 0px;
}
.order_price1{
    color: black;
    font-size: 17px;
    font-weight: 700;
    font-family: overpass;
    margin-bottom: 0px;
}
.order_price2{
    color: #007bff;
    font-size: 15px;
    font-weight: 600;
    font-family: overpass;
    margin-bottom: 0px;
}









.nav_link:hover{
    color: yellow;
    background-color: #1b294b;
}
.nav_drop_link:hover{
    color: yellow;
    background-color: #1b294b;
}
